.banner__background {
    background-image: linear-gradient(to right bottom, #2980b9ad, #2c3e50b3),url(../assets/img/banner.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    height: 100vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  }

.banner__text-box {
    position: absolute;
    top: 40%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}