.moneytools {
    position: relative;
    height: 700px;
    width: 100%;
    background-color: var(--background-color);
    color: var(--primary-color);
}

.moneytools__title {
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 10%;
    width: max-content;
    letter-spacing: 0.5rem;
    transform: translate(-50%, -50%);
}

.moneytools__tiles {
    position: absolute;
    left: 50%;
    top: 50%;
    display: grid;
    width: 80rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    transform: translate(-50%, -50%);
}

.tile {
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}


.tile:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.tile__image {
    height: 180px;
    padding-top: 48px;

}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.tile__heading {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    padding: 22px;
}


.tile__action {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.tile__button {
    color: #fff;
    text-transform: uppercase;
    background-color: var(--primary-color);
    display: inline-block;
    position: relative;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    padding: 1rem 3rem;
    border-radius: 10rem;
    transition: all 0.2s ease 0s;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}